@import "tailwindcss";

@theme {
  --color-igusa: #A8C97F;
  --color-navy: #001D42;
  --color-washi: #F5F5F0;
  --font-mincho: "Noto Serif JP", serif;
  --font-gothic: "Noto Sans JP", sans-serif;
}

:root {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--color-washi);
  color: var(--color-navy);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif JP", serif;
}